body {
  padding: 20px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #0f2f2e; /* A darker teal / blue-green */
  color: lightgray;
}

/* Navigation Menu Styling*/
.tab-container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 0;
  
  background-color: #3b6967;
  border-radius: 9px;

  width: max-content;
  margin: 16px auto;

}

.indicator {
  content: "";
  width: 130px;
  height: 28px;
  background: #093331;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 28px;

  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-size: 0.75rem;
  opacity: 0.6;

  cursor: pointer;
}

.tab--1:checked ~ .indicator {
  left: 0;
}

.tab--2:checked ~ .indicator {
  left: calc(130px * 1); 
}

.tab--3:checked ~ .indicator { 
  left: calc(130px * 2); 
}

.tab--4:checked ~ .indicator { 
  left: calc(130px * 3); 
}

.tab--5:checked ~ .indicator { 
  left: calc(130px * 4); 
}
