.content-section {
  min-height: 100vh;
  padding: 100px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-margin-top: 0;
  scroll-snap-align: start;
}

#home {
  min-height: 70vh;
}

main {
  padding-bottom: 20vh;
}

h1,
h2 {
  color: var(--text-color);
  margin-bottom: 20px;
}

p {
  color: var(--text-color);
  max-width: 800px;
  line-height: 1.6;
}
